.c-accordion {
	border-radius: 5px;
	overflow: hidden;
	&_panel {
		border-bottom: solid thin lightgray;
	}
	&_title {
		cursor: pointer;
		transition: all 0.4s ease-in-out;
		padding: 5px 10px;
		background-color: gray; 
		color: white;
		&--open {
			filter: brightness(1.2);
		}
	}
	&_panel-body {
		padding: 0px 10px;
		overflow: hidden;
		transition: all 0.4s ease-in-out;
		opacity: 0;
		pointer-events: none;
		max-height: 0px;
		&--open {
			max-height: 999px;
			opacity: 1;
			pointer-events: all;
		}		
	}
}

.pointless-css-added-for-commit {
	background: red;
}

.pointless-css-added-for-commit2 {
	background: red;
}

.pointless-css-added-for-commit3 {
	background: red;
}
