.c-input {
	height: 30px;
	width: 100%;
	padding: 10px 10px;
	border: solid 1px gray;
	border-radius: 5px;
	outline: 0;
	transition: all 0.3s ease-in-out;
	&--with-tooltip {
		width: 85%;
	}
	&--error {
		border: solid 1px rgb(255, 40, 40);
	}
}

.c-validation-error {
	color: rgb(255, 40, 40);
}